<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <style>
    body { font-family: Arial; margin: 50px; }
    input { padding: 8px; margin: 5px 0; width: 300px; }
    .btn { padding: 10px 20px; background-color: #4CAF50; 
    color: white; border: none; cursor: pointer; }
    .btn:hover { background-color: #45a049; }
    </style>
  </head>
  <body>
    <h1>Attention Panel on Action:</h1>
    <h2>"{{ name }}"</h2>
    <h3>Choose Completion Status</h3>
    <table>
      <tr>
        <th>Status</th>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=10) }}" class="btn">NOT Applicable</a>
        </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=20) }}" class="btn">ByPass</a>
        </td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=30) }}" class="btn">Automated</a>
        </td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=40) }}" class="btn">NOT Completed</a>
        </td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=50) }}" class="btn">Attention Required</a>
        </td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=60) }}" class="btn">Urgent Repair Required.</a>
        </td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=99) }}" class="btn">ABORT ALL PROCEDURES!</a>
        </td>
      </tr>
    </table>
    <h2>Cancel. Select other <a href="{{ url_for('dashboard') }}">List</a></h2>
  </body>
</html>
