<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <style>
    body { font-family: Arial; margin: 50px; }
    input { padding: 8px; margin: 5px 0; width: 300px; }
    .btn { padding: 10px 20px; background-color: #4CAF50; 
    color: white; border: none; cursor: pointer; }
    .btn:hover { background-color: #45a049; }
    </style>
  </head>
  <body>
    <h1>Attention on Action:</h1>
    <p>{{ name }} </p>
    <h3>Choose Completion Status</h3>
    <table>
      <tr>
        <th>Status</th>
      </tr>
      <tr>&nbsp;</tr>
      <tr>
        <td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=2) }}" class="btn">Urgent Repair</a>
        </td>
      </tr>
      <tr>&nbsp;</tr>
      <tr>
        <td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=3) }}" class="btn">NOT Completed</a>
        </td>
      </tr>
      <tr>&nbsp;</tr>
      <tr>
        <td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=4) }}" class="btn">NOT Applicable</a>
        </td>
      </tr>
      <tr>&nbsp;</tr>
      <tr>
        <td>
          <a href="{{ url_for('insert', shot_id=shot_id, item_id=item_id, status=255) }}" class="btn">ABORT ALL PROCEDURES!</a>
        </td>
      </tr>
    </table>
    <h2>Cancel. Select other <a href="{{ url_for('dashboard') }}">List</a></h2>
  </body>
</html>
