<!DOCTYPE html>
<html>
  <head>
    <title>Flask Esther Dashboard </title>
    <style>
    body { font-family: Arial; margin: 50px; }
    table { border-collapse: collapse; width: 100%; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #4CAF50; color: white; }
    .btn { padding: 5px 10px; margin: 2px; text-decoration: none; 
    background-color: #008CBA; color: white; border-radius: 3px; }
    .btn:hover { background-color: #005f7a; }
    </style>
  </head>
  <body>
    <h1>Esther Checklist Management (MariaDB)</h1>
    <h2> Shot Id: {{shotId}} </h2>
    <h2> Checklist Signing Tables</h2>
    <table>
      <tr>
        <th>Role</th>
        <th>Master List</th>
        <th>Combustion</th>
        <th>Vacuum</th>
        <th>TEST GASES</th>
      </tr>
      {% for rle in roles %}
      <tr>
        <td>{{ rle[1] }}</td>
        <td>
          <a href="{{ url_for('list_html', system=0, role=rle[0], shot=shotId) }}" class="btn">Master</a>
        </td>
        <td>
          <a href="{{ url_for('list_html', system=1, role=rle[0], shot=shotId) }}" class="btn">Combustion</a>
        </td>
        <td>
          <a href="{{ url_for('list_html', system=2, role=rle[0], shot=shotId) }}" class="btn">Vacuum</a>
        </td>
        <td>
          <a href="{{ url_for('list_html', system=3, role=rle[0], shot=shotId) }}" class="btn">Test Gases</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <h2> General System Full Lists</h2>
    <table>
      <tr>
        <th>Phase</th>
        <th>Master List</th>
        <th>Combustion</th>
        <th>Vacuum</th>
      </tr>
      <tr>
        <td>Start of Day</td>
        <td><a href="{{ url_for('system_list', phase=0, system=0) }}" class="btn" target="_blank">List</a></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Shot</td>
        <td><a href="{{ url_for('system_list', phase=1, system=0) }}" class="btn" target="_blank">List</a></td>
        <td><a href="{{ url_for('system_list', phase=1, system=1) }}" class="btn" target="_blank">List</a></td>
        <td><a href="{{ url_for('system_list', phase=1, system=2) }}" class="btn" target="_blank">List</a></td>
      </tr>
      <tr>
        <td>End of the Experimental Run</td>
        <td><a href="{{ url_for('system_list', phase=2, system=0) }}" class="btn" target="_blank">List</a></td>
        <td></td>
        <td></td>
      </tr>
      
    </table>
    <h3> <a href="/logout">Logout</a></h3>
  </body>
</html>
