<!DOCTYPE html>
<html>
  <head>
    {% if system_list |length > 0 %}
      <title> {{phase}} {{system_list[0][4]}} Full Checklist </title>
    {% else %}
      <title> {{phase}} Full Checklist </title>
    {% endif %}
    <style>
body { font-family: Arial; margin: 50px; }
table { border-collapse: collapse; width: 100%; }
th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
th { background-color: #4CAF50; color: white; }
.btn { padding: 5px 10px; margin: 2px; text-decoration: none; 
  background-color: #008CBA; color: white; border-radius: 3px; }
            .btn:hover { background-color: #005f7a; }
    </style>
  </head>
  <body>
    {% if system_list |length > 0 %}
    <h1> Esther Checklist: {{system_list[0][4]}}. Phase: {{phase}} </h1>
    <h2>Actions</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Order</th>
        <th>Action</th>
        <th>Respons.</th>
        <th>Min Status</th>
        <th>Precedence Ids</th>
      </tr>
      {% for system in system_list %}
      <tr>
        <td>{{ system[0] }}</td>
        <td>{{ system[1] }}</td>
        <td>{{ system[2]|safe}}</td>
        <td>{{ system[3] }}</td>
        <td>{{ system[5] }}</td>
        <td>
        {% for pItem in system[6] %}
    <a href="{{ url_for('item_details', item_id=pItem[0]) }}">{{ pItem[0] }} </a>
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No items found in this Checklis.</p>
    {% endif %}

  </body>
</html>
